<div id="info_club_<%= club.id %>" class="sortable content-section">
  <% if can? :modify, club %>
    <span class="form-btn-edit">
      <%= link_to club, method: :delete, data: {confirm: t("clubs._club.confirm")},
        class: "btn btn-sm btn-default", remote: true do %>
        <i class="glyphicon glyphicon-trash"></i>
      <% end %>
      <%= link_to edit_club_path(club), class: "btn btn-sm btn-default", remote: true do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
    </span>
  <% end %>

  <div class="profile_top_view">
    <div class="view-field">
      <h4 class="view-control"><%= club.name %></h4>
    </div>
    <div class="view-field date_profile">
      <span class="view-control" data-control="from-date">
        <%= t "profile.club.from" %>
        <%= I18n.l club.start_time, format: :long %>
        <%= t "profile.club.to" %>
        <%= show_endtime club %>
      </span>
    </div>
  </div>

  <table class="table table_profile">
    <tr>
      <td class="view-field">
        <strong class="view-control"><%= t "profile.club.position" %></strong>
      </td>
      <td class="profile_content"><%= club.position %></td>
    </tr>
    <tr>
      <td class="view-field">
        <strong class="view-control"><%= t "profile.club.organization" %></strong>
      </td>
      <td class="profile_content"><%= club.content %></td>
    </tr>
  </table>
</div>
