<div id="info_club_<%= club.id %>" class="sortable content-section">
  <span class="form-btn-edit">
    <%= link_to club, method: :delete, data: {confirm: t("clubs._club.confirm")},
      class: "btn btn-sm btn-default", remote: true do %>
      <i class="glyphicon glyphicon-trash"></i>
    <% end %>
    <%= link_to edit_club_path(club), class: "btn btn-sm btn-default", remote: true do %>
      <i class="glyphicon glyphicon-pencil"></i>
    <% end %>
  </span>
  <div>
    <div class="view-field">
      <h4 class="view-control"><%= club.name %></h4>
    </div>
  </div>
  <div>
    <div class="view-field">
      <strong class="view-control"><%= t "clubs._club.pos" %><%= club.position %></strong>
    </div>
  </div>
  <div>
    <div class="view-field">
      <p>
        <span class="view-control" data-control="from-date">
          <%= club.start_time %>
        </span>
        :
        <span class="view-control" data-control="to-date" data-type="manual">
          <%= show_endtime club %>
        </span>
      </p>
    </div>
  </div>
  <div>
    <div class="view-field">
      <div class="view-control"><%= club.content %></div>
    </div>
  </div>
</div>
