<%= javascript_include_tag "format_datepicker", "data-turbolinks-track": "reload" %>
<%= form_for @club, html: {class: "new-section"}, remote: true do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label><strong class="text-red">*</strong><%= t "clubs._form.name" %></label>
        <%= f.text_field :name, autofocus: true, class: "form-control edit-control" %>
        <span class="club-name-invalid error-message"></span>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label><strong class="text-red">*</strong><%= t "clubs._form.pos" %></label>
        <%= f.text_field :position, class: "form-control edit-control" %>
        <span class="club-position-invalid error-message"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <strong class="text-red">*</strong>
        <%= f.label :start_time, t("clubs._form.from") %>
        <% if @club.start_time.present? %>
          <%= f.text_field :start_time, data: {provide: "datepicker"},
            class: "datepick form-control", value: @club.start_time.strftime(t "date_format") %>
        <% else %>
          <%= f.text_field :start_time, data: {provide: "datepicker"},
            class: "datepick form-control" %>
        <% end %>
        <span class="club-start_time-invalid error-message"></span>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <strong class="text-red">*</strong>
        <%= f.label :end_time, t("clubs._form.to") %>
        <% if @club.end_time.present? %>
          <%= f.text_field :end_time, data: {provide: "datepicker"},
            class: "datepick form-control", value: @club.end_time.strftime(t "date_format") %>
        <% else %>
          <%= f.text_field :end_time, data: {provide: "datepicker"},
            class: "datepick form-control" %>
        <% end %>
        <span class="club-end_time-invalid error-message"></span>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <div class="m-t-lg hidden-xs"></div>
        <label class="control-label">
          <%= f.check_box :current, class: "to-present-checkbox edit-control" %>
          <%= f.label :current, t("clubs.helpers.present") %>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control" %>
        <span class="club-content-invalid error-message"></span>
      </div>
    </div>
  </div>
  <div class="form-group push-top-md edit-field">
    <div class="row">
      <div class="col-sm-6"><%= t "clubs._form.require" %></div>
      <div class="col-sm-6 text-right">
        <button id="<%= define_cancel_club_id @club %>" type="button"
          class="btn-cancel btn btn-default" value="<%= @club.id %>">
          <%= t "clubs._form.cancel" %>
        </button>
        <%= f.submit t("clubs._form.save"), class: "btn-save btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
