<%= javascript_include_tag "format_datepicker", "data-turbolinks-track": "reload" %>
<%= simple_form_for @club, html: {class: "new-section"}, remote: true do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :name, class: "profile_label" do %>
          <strong class="text-red">*</strong><%= t "clubs._form.name" %>
        <% end %>
        <%= f.text_field :name, autofocus: true, class: "form-control edit-control" %>
        <span class="error-message">
          <%= f.error :name %>
        </span>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :position, class: "profile_label" do %>
          <strong class="text-red">*</strong><%= t "clubs._form.pos" %>
        <% end %>
        <%= f.text_field :position, class: "form-control edit-control" %>
        <span class="error-message">
          <%= f.error :position %>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :start_time, class: "profile_label" do %>
          <strong class="text-red">*</strong><%= t("clubs._form.from") %>
        <% end %>
        <% if @club.start_time.present? %>
          <%= f.text_field :start_time, data: {provide: "datepicker"},
            class: "datepick form-control", value: @club.start_time.strftime(t "date_format") %>
        <% else %>
          <%= f.text_field :start_time, data: {provide: "datepicker"},
            class: "datepick form-control" %>
        <% end %>
        <span class="error-message">
          <%= f.error :start_time %>
        </span>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :end_time, class: "profile_label" do %>
          <strong class="text-red">*</strong><%= t("clubs._form.to") %>
        <% end %>
        <% if @club.end_time.present? %>
          <%= f.text_field :end_time, data: {provide: "datepicker"},
            class: "datepick form-control", value: @club.end_time.strftime(t "date_format") %>
        <% else %>
          <%= f.text_field :end_time, data: {provide: "datepicker"},
            class: "datepick form-control" %>
        <% end %>
        <span class="error-message">
          <%= f.error :end_time %>
        </span>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <div class="m-t-lg hidden-xs"></div>
        <span>
          <%= f.check_box :current, class: "to-present-checkbox" %>
          <%= f.label :current, t("clubs.helpers.present"), class: "profile_label" %>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :content, t("profile.club.content"), class: "control-label profile_label" %>
        <%= f.text_area :content, class: "form-control" %>
        <span class="club-position-invalid error-message">
          <%= show_errors @club, :content, t("profile.club.content") %>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group push-top-md edit-field">
    <div class="col-sm-6">(<strong class="text-red">*</strong>)<%= t "achievements.required" %></div>
    <div class="row">
      <div class="col-sm-6 text-right">
        <button id="<%= define_cancel_club_id @club %>" type="button"
          class="btn-cancel btn btn-default" value="<%= @club.id %>">
          <%= t "clubs._form.cancel" %>
        </button>
        <%= f.submit t("clubs._form.save"), class: "btn-save btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
