<div class="section-detail section-employment">
  <div class="box border-info">
    <fieldset>
      <legend class="box-md">
        <i class="fa fa-fw fa-bars"></i><%= t "clubs._index.club_title" %>
      </legend>
      <div class="placeholder-club box-md <%= define_style_placeholder @clubs %>">
        <p class="placeholder">
          <%= current_user.is_user?(@user) ? t("clubs.describle") : t("placeholder.blank") %>
        </p>
      </div>
      <div id="form-club">
        <%= render partial: "clubs/club", collection: @clubs, as: :club %>
      </div>
      <% if  current_user.is_user? @user %>
        <% if can? :update, @user %>
          <%= link_to t("clubs._index.add"), new_club_path, id: "btn-add-club",
            class: "btn btn-default btn-block no-border add-one-more-section", remote: true %>
        <% end %>
      <% end %>
      <div id = "area_form_club">
      </div>
    </fieldset>
  </div>
</div>
