<div id="page-container">
  <div id="home-carousel" class="carousel carousel-home slide" data-ride="carousel" data-interval="5000">
    <div class="carousel-inner">
      <div class="active item">
        <section class="site-section site-section-light site-section-top themed-background-default">
          <div class="container">
            <h1 class="text-center animation-slideDown hidden-xs">
              <strong><%= t "home_page.slide_1.content_1" %></strong></h1>
            <h2 class="text-center animation-slideUp push hidden-xs">
              <%= t "home_page.slide_1.content_2" %></h2>
            <p class="text-center animation-fadeIn">
              <%= image_tag "screenshots/promo_desktop_left.png", class: "img-slide" %>
            </p>
          </div>
        </section>
      </div>
      <div class="item">
        <section class="site-section site-section-light site-section-top themed-background-fire">
          <div class="container">
            <h1 class="text-center animation-fadeIn360 hidden-xs">
              <strong><%= t "home_page.slide_2.content_1" %></strong></h1>
            <h2 class="text-center animation-fadeIn360 push hidden-xs">
              <%= t "home_page.slide_2.content_2" %>
            </h2>
            <p class="text-center animation-fadeInLeft">
              <%= image_tag "screenshots/promo_desktop_right.png", class: "img-slide" %>
            </p>
          </div>
        </section>
      </div>
      <div class="item">
        <section class="site-section site-section-light site-section-top themed-background-amethyst">
          <div class="container">
            <h1 class="text-center animation-hatch hidden-xs">
              <strong><%= t "home_page.slide_3.content_1" %></strong></h1>
            <h2 class="text-center animation-hatch push hidden-xs">
              <%= t "home_page.slide_3.content_2" %>
            </h2>
            <p class="text-center animation-hatch">
              <%= image_tag "screenshots/promo_mobile.png", class: "img-slide" %>
            </p>
          </div>
        </section>
      </div>
      <div class="item">
        <section class="site-section site-section-light site-section-top themed-background-modern">
          <div class="container">
            <h1 class="text-center animation-fadeInLeft hidden-xs">
              <strong><%= t "home_page.slide_4.content_1" %></strong></h1>
            <h2 class="text-center animation-fadeInRight push hidden-xs">
              <%= t "home_page.slide_4.content_2" %>
            </h2>
            <p class="text-center animation-fadeIn360">
              <%= image_tag "screenshots/promo_tablet.png", class: "img-slide" %>
            </p>
          </div>
        </section>
      </div>
    </div>
    <a class="left carousel-control" href="#home-carousel" data-slide="prev">
      <span>
        <i class="fa fa-chevron-left"></i>
      </span>
    </a>
    <a class="right carousel-control" href="#home-carousel" data-slide="next">
      <span>
        <i class="fa fa-chevron-right"></i>
      </span>
    </a>
  </div>

  <section class="site-content site-section site-slide-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInRight" data-element-offset="-180">
          <%= image_tag "screenshots/promo_desktop_left.png", class: "img-responsive" %>
        </div>
        <div class="col-sm-6 col-md-5 col-md-offset-1 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInLeft" data-element-offset="-180">
          <h3 class="h2 site-heading site-heading-promo">
            <strong><%= t "home_page.promo_1.content_1" %></strong><%= t "home_page.promo_1.content_2" %></h3>
          <p class="promo-content"><%= t "home_page.promo_1.content_3" %>
            <a href="#"><%= t "home_page.learn_more" %></a></p>
        </div>
      </div>
      <hr>
    </div>
  </section>

  <section class="site-content site-section site-slide-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-5 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInRight" data-element-offset="-180">
          <h3 class="h2 site-heading site-heading-promo"><strong><%= t "home_page.promo_2.content_1" %></strong>
            <%= t "home_page.promo_2.content_2" %></h3>
          <p class="promo-content"><%= t "home_page.promo_2.content_3" %>
            <a href="#"><%= t "home_page.learn_more" %></a></p>
        </div>
        <div class="col-sm-6 col-md-offset-1 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInLeft" data-element-offset="-180">
          <%= image_tag "screenshots/promo_desktop_right.png", class: "img-responsive" %>
        </div>
      </div>
      <hr>
    </div>
  </section>

  <section class="site-content site-section site-slide-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInRight" data-element-offset="-180">
          <%= image_tag "screenshots/promo_tablet.png", class: "img-responsive" %>
        </div>
        <div class="col-sm-6 col-md-5 col-md-offset-1 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInLeft" data-element-offset="-180">
          <h3 class="h2 site-heading site-heading-promo"><strong>
            <%= t "home_page.promo_3.content_1" %></strong><%= t "home_page.promo_3.content_2" %></h3>
          <p class="promo-content"><%= t "home_page.promo_3.content_3" %><a href="#">
            <%= t "home_page.learn_more" %></a></p>
        </div>
      </div>
      <hr>
    </div>
  </section>

  <section class="site-content site-section site-slide-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-5 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInRight" data-element-offset="-180">
          <h3 class="h2 site-heading site-heading-promo"><strong>
            <%= t "home_page.promo_4.content_1" %></strong><%= t "home_page.promo_4.content_2" %></h3>
          <p class="promo-content"><%= t "home_page.promo_4.content_3" %><a href="#">
            <%= t "home_page.learn_more" %></a></p>
        </div>
        <div class="col-sm-6 col-md-offset-1 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInLeft" data-element-offset="-180">
          <%= image_tag "screenshots/promo_mobile.png", class: "img-responsive" %>
        </div>
      </div>
      <hr>
    </div>
  </section>

  <section class="site-content site-section">
    <div class="container">
      <div id="testimonials-carousel" class="carousel slide carousel-html" data-ride="carousel" data-interval="4000">
        <ol class="carousel-indicators">
          <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#testimonials-carousel" data-slide-to="1"></li>
          <li data-target="#testimonials-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner text-center">
          <div class="active item">
            <p>
              <%= image_tag "avatars/avatar12.jpg", class: "img-circle" %>
            </p>
            <blockquote class="no-symbol">
              <p><%= t "home_page.symbol_1.content_1" %></p>
              <footer><strong><%= t "home_page.symbol_1.content_2" %></strong>
                <%= t "home_page.symbol_1.content_3" %></footer>
            </blockquote>
          </div>
          <% 2.times do %>
            <%= render "static_pages/symbol_user" %>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section class="site-content site-section site-section-light themed-background-dark-night">
    <div class="container">
      <h3 class="site-heading text-center"><strong><%= t "home_page.heading.content_1" %></strong>
        <%= t "home_page.heading.content_2" %><strong><%= t "home_page.heading.content_3" %></strong>!</h3>
      <div class="site-block text-center">
        <form action="features.html" method="post" class="form-horizontal" onsubmit="return false;">
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
              <label class="sr-only" for="register-email"><%= t "home_page.heading.content_4" %></label>
              <div class="input-group input-group-lg">
                <input type="email" id="register-email" name="register-email" class="form-control" placeholder="Your Email..">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i>
                    <%= t "home_page.heading.content_5" %></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section class="site-content site-section themed-background">
    <div class="container">
      <div class="row" id="counters">
        <div class="col-sm-4">
          <div class="counter site-block">
            <span data-toggle="countTo" data-to="6800" data-after="+"></span>
            <small><%= t "home_page.heading.content_6" %></small>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="counter site-block">
            <span data-toggle="countTo" data-to="5500" data-after="+"></span>
            <small><%= t "home_page.heading.content_7" %></small>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="counter site-block">
            <span data-toggle="countTo" data-to="100" data-after="+"></span>
            <small><%= "home_page.heading.content_8" %></small>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
