<div class="sectionContent">
  <article>
    <h3><%= certificate.name %></h3>
    <p class="subDetails"><%= l certificate.received_time, format: :long %></p>
    <p class="subDetails"><%= certificate.majors %></p>
    <p class="subDetails"><%= certificate.organization %>.</p>
    <p><%= certificate.classification %>.</p>
  </article>
</div>
