<div id="info_club_<%= club.id %>" class="sortable content-section">
  <div>
    <div class="view-field">
      <h4 class="view-control"><%= club.name %></h4>
    </div>
  </div>
  <div>
    <div class="view-field">
      <strong class="view-control"><%= t "clubs._club.pos" %><%= club.position %></strong>
    </div>
  </div>
  <div>
    <div class="view-field">
      <p>
        <span class="view-control" data-control="from-date">
          <%= club.start_time %>
        </span>
        :
        <span class="view-control" data-control="to-date" data-type="manual">
          <%= show_endtime club %>
        </span>
      </p>
    </div>
  </div>
  <div>
    <div class="view-field">
      <div class="view-control"><%= club.content %></div>
    </div>
  </div>
</div>
