<article class="post-21 page type-page status-publish hentry">
  <header class="entry-header"><h1 class="entry-title"><%= t "homepage.vn.home" %></h1></header>
  <div class="entry-content">
    <section class="section-top-page alt-bg">
      <div class="wrapper">
        <div class="block">
          <p class="hello"><%= t "homepage.both.hello" %></p>
          <h2><%= t "homepage.both.question" %></h2>
          <p class="quote"><%= t "homepage.vn.quote" %></p>
          <p class="quote2"><%= t "homepage.vn.quote2" %></p>
          <p class="author"><%= t "homepage.both.author" %></p>
        </div>
      </div>
    </section>
    <section class="section-vision anchor-wrapper">
      <div id="anchor"></div>
      <div class="wrapper">
        <p class="title-3"><%= t "homepage.vn.anchor" %></p>
        <p class="anchor desc"><%= t "homepage.vn.anchor_desc" %></p>
      </div>
    </section>
    <section class="section-service alt-bg">
      <div class="wrapper">
        <p class="title-3 white"><%= t "homepage.vn.service.advantage" %></p>
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <h2 class="title-2"><%= t "homepage.vn.service.title-2-1" %><br>
                <%= t "homepage.vn.service.title-2-2" %>
              </h2>
              <p class="desc"><%= t "homepage.vn.service.desc1" %></p>
              <p class="desc"><%= t "homepage.vn.service.desc2" %></p>
              <p><a class="fvn-btn" href="#"><%= t "homepage.vn.service.read_more" %></a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <div class="service-item">
                  <div class="item-header">
                    <p>
                      <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/code-design.png" alt="code-design" class="img-static-36x31">
                    </p>
                    <h3><%= t "homepage.vn.service.sw_dev.h3" %></h3>
                  </div>
                  <p>
                    <br><%= t "homepage.vn.service.sw_dev.p1" %><br>
                    <%= t "homepage.vn.service.sw_dev.p2" %><br>
                    <%= t "homepage.vn.service.sw_dev.p3" %><br>
                    <%= t "homepage.vn.service.sw_dev.p4" %><br>
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="service-item">
                  <div class="item-header">
                    <p>
                      <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/mobile-app-developing.png" alt="mobile-app-developing" class="img-static-36x36">
                    </p>
                    <h3><%= t "homepage.vn.service.bus_dev.h3" %></h3>
                  </div>
                  <p><%= t "homepage.vn.service.bus_dev.p1" %><br></p>
                </div>
                <div class="service-item">
                  <div class="item-header">
                    <p>
                      <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/Edu.png" alt="web-development" class="img-static-36x36"></p>
                    <h3><%= t "homepage.vn.service.human_dev.h3" %></h3>
                  </div>
                  <p>
                    <%= t "homepage.vn.service.human_dev.p1" %><br>
                    <br><%= t "homepage.vn.service.human_dev.p2" %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-client">
      <div class="wrapper">
        <h3 class="title-3"><%= t "homepage.vn.client.title" %></h3>
        <div class="section-content">
          <div class="owl-carousel owl-client owl-theme">
            <% 30.times do %>
              <%= render "client" %>
            <% end %>
          </div>
        </div>
        <div class="owl-controls clickable">
          <div class="owl-pagination">
            <div class="owl-page active">
              <span class=""></span>
            </div>
            <div class="owl-page">
              <span class=""></span>
            </div>
            <div class="owl-page">
              <span class=""></span>
            </div>
            <div class="owl-page">
              <span class=""></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-statistic alt-bg">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-3">
            <div class="statistic-item">
              <p>
                <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/planet-earth.png" alt="planet-earth" class="img-static-36x36">
              </p>
              <p class="number"><%= t "homepage.vn.statistic.num_countries" %></p>
              <p class="property"><%= t "homepage.vn.statistic.countries" %></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="statistic-item">
              <p>
                <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/city.png" alt="company-workers" class="img-static-36x33">
              </p>
              <p class="number"><%= t "homepage.vn.statistic.num_city" %></p>
              <p class="property"><%= t "homepage.vn.statistic.city" %></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="statistic-item">
              <p>
                <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/company-workers.png" alt="company-workers" class="img-static-36x33">
              </p>
              <p class="number"><%= t "homepage.vn.statistic.num_employees" %></p>
              <p class="property"><%= t "homepage.vn.statistic.employee" %></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="statistic-item">
              <p>
                <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/handshake.png" alt="handshake" class="img-static-36x29">
              </p>
              <p class="number"><%= t "homepage.vn.statistic.num_clients" %></p>
              <p class="property"><%= t "homepage.vn.statistic.client" %></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="statistic-item">
              <p>
                <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/shared-folder.png" alt="shared-folder" class="img-static-36x31">
              </p>
              <p class="number"><%= t "homepage.vn.statistic.num_projects" %></p>
              <p class="property"><%= t "homepage.vn.statistic.project" %></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-team">
      <div class="wrapper">
        <p class="title-3"><%= t "homepage.vn.team.title" %></p>
        <div class="row">
          <div class="col-md-6">
            <h2 class="title-2"><%= t "homepage.vn.team.title-2-1" %>
              <br><%= t "homepage.vn.team.title-2-2" %></h2>
            <div class="feature-list clearfix">
              <ul>
                <li><i class="material-icons orange"><%= t "homepage.vn.team.done" %></i>
                  <%= t "homepage.vn.team.feature_1" %></li>
                <li><i class="material-icons orange"><%= t "homepage.vn.team.done" %></i>
                  <%= t "homepage.vn.team.feature_2" %></li></li>
                <li><i class="material-icons orange"><%= t "homepage.vn.team.done" %></i>
                  <%= t "homepage.vn.team.feature_3" %></li></li>
                <li><i class="material-icons orange"><%= t "homepage.vn.team.done" %></i>
                  <%= t "homepage.vn.team.feature_4" %></li></li>
                <li><i class="material-icons orange"><%= t "homepage.vn.team.done" %></i>
                  <%= t "homepage.vn.team.feature_5" %></li></li>
                <li><i class="material-icons orange"><%= t "homepage.vn.team.done" %></i>
                  <%= t "homepage.vn.team.feature_6" %></li></li>
                <li><i class="material-icons orange"><%= t "homepage.vn.team.done" %></i>
                  <%= t "homepage.vn.team.feature_7" %></li></li>
              </ul>
            </div>
            <p>
              <a class="fvn-btn btn-2" href="https://careers-framgia.icims.com/jobs/search?ss=1">
                <%= t "homepage.vn.team.join" %></a>
            </p>
          </div>
          <div class="col-md-6">
            <div class="owl-carousel owl-team owl-theme">
              <% 10.times do %>
                <%= render "team_person" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-activity alt-bg">
      <div class="wrapper">
        <p class="title-3 white"><%= t "homepage.vn.activity.title" %></p>
        <h2 class="title-2"><%= t "homepage.vn.activity.title-2" %></h2>
        <div class="row">
          <div class="col-md-4">
            <div class="item">
              <div class="image-wrapper">
                <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/activity1.jpg" alt="">
              </div>
              <h3><%= t "homepage.vn.activity.h3-1" %></h3>
              <p class="date">
                <i class="material-icons"><%= t "homepage.vn.activity.query_builder" %></i>
                <%= t "homepage.both.date-example" %>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item">
              <div class="image-wrapper">
                <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/activity2.jpg" alt="">
              </div>
              <h3><%= t "homepage.vn.activity.h3-2" %></h3>
              <p class="date">
                <i class="material-icons"><%= t "homepage.vn.activity.query_builder" %></i>
                <%= t "homepage.both.date-example" %>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item">
              <div class="image-wrapper">
                <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/activity3.jpg" alt="">
              </div>
              <h3><%= t "homepage.vn.activity.h3-3" %></h3>
              <p class="date">
                <i class="material-icons"><%= t "homepage.vn.activity.query_builder" %></i>
                <%= t "homepage.both.date-example" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-check-career alt-bg">
      <h2><%= t "homepage.vn.career.h2" %></h2>
      <p>
        <a class="fvn-btn btn-1" href="https://careers-framgia.icims.com/jobs/search?ss=1">
          <%= t "homepage.vn.career.p" %></a>
      </p>
    </section>
  </div>
</article>
