<tr id="member-<%= member.id%>">
  <td><%= link_to member.user.name, user_path(member.user) %></td>
  <td><strong><%= member.position %></strong></td>
  <td><%= member.user.email %></td>
  <td><%= member.user.sex %></td>
  <td><%= member.start_time %></td>
  <td><%= member.end_time %></td>
  <td class="text-center">
    <div class="btn-group">
      <%= link_to edit_employers_company_member_path(@company, member),
        class: "btn btn-warning btn-xs", remote: :true do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    </div>
  </td>
</tr>
