<tr id="member-<%= member.id%>">
  <td class="text-center"><strong><%= member.id %></strong></a></td>
  <td class="visible-lg"><%= member.user.name %></td>
  <td class="text-center"><strong><%= member.position %></strong></td>
  <td class="text-center visible-lg"><%= member.user.email %></td>
  <td class="hidden-xs"><%= member.user.sex %></td>
  <td class="hidden-xs text-center"><%= member.start_time %></td>
  <td class="hidden-xs text-center"><%= member.end_time %></td>
  <td class="text-center">
    <div class="btn-group">
      <%= link_to edit_employers_company_member_path(@company, member),
        class: "btn btn-xs btn-default", remote: :true do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    </div>
  </td>
</tr>
