<div class="scrollbar block full" id="style-2">
  <table class="table table-bordered table-striped table-vcenter">
    <thead>
      <tr>
        <th class="text-center"><%= t "checkbox" %></th>
        <th class="text-center"><%= t "picture" %></th>
        <th class="text-center"><%= t "name" %></th>
        <th class="text-center"><%= t "email" %></th>
        <th class="text-center"><%= t "sex" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render "user" %>
    </tbody>
  </table>
</div>
