<%= collection_check_boxes(:member, :user_ids, @users, :id, :name) do |user| %>
  <tr>
    <td class="text-center">
      <strong>
        <%= user.check_box(checked: is_checked?(@member_checkeds, user.object)) %>
      </strong>
    </td>
    <td class="text-center"><strong><%= image_tag user.object.picture.url, class: "img_tag_member" %></strong></td>
    <td><strong><%= link_to user.object.name, user_path(user.object) %></strong></td>
    <td><strong><%= user.object.email %></strong></td>
    <td><strong><%= user.object.sex %></strong></td>
  </tr>
<% end %>
