<div class="search_jobs container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-offset-1">
        <div class="form-section">
          <div class="row">
            <%= search_form_for @q, url: jobs_path,
              html: {class: "search-form"} do |f| %>
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.search_field :name_or_language_or_skill_cont,
                    class: "form-control",
                    placeholder: t(".text_search") %>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <%= f.select :branch_id_eq,
                    options_of_selectbox(@provinces, params[:q], :branch_id_eq),
                    {include_blank: t(".all_branches")}, {class: "form-control"} %>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <%= f.select :position_types_eq,
                    options_of_selectbox(options_position_types, params[:q], :position_types_eq),
                    {include_blank: t(".all_position_types")}, {class: "form-control"} %>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <%= f.select :category_id_eq,
                    options_of_selectbox(@categories, params[:q], :category_id_eq),
                    {include_blank: t(".all_categories")}, {class: "form-control"} %>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <%= f.submit t(".filter"), class: "btn btn-default btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
