<div class="job-form">
  <%= simple_form_for @job, remote: true do |f| %>
    <%= f.hidden_field :company_id %>
    <%= f.input :name, label: t(".job_name"),
      input_html: {class: "form-control job-create-name"} %>
    <%= f.input :description, label: t(".description"),
      input_html: {class: "form-control"} %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :min_salary, input_html: {class: "form-control"} %>
      </div>
      <div class="col-md-6">
        <%= f.input :max_salary, input_html: {class: "form-control"} %>
      </div>
    </div>

    <p><strong><%= t ".benefit" %></strong></p>
    <div class="reward_benefits">
      <%= f.fields_for :reward_benefits do |reward| %>
        <%= render "jobs/reward_benefit_fields", f: reward %>
      <% end %>
      <div class="links add_benefit_links">
        <%= link_to_add_association t(".add_benefit"), f, :reward_benefits,
          partial: "jobs/reward_benefit_fields" %>
      </div>
    </div>

    <%= f.input :language, label: t(".language"),
      input_html: {class: "form-control"} %>
    <%= f.input :position,
      input_html: {class: "form-control"} %>
    <%= f.input :level, label: t(".level"),
      input_html: {class: "form-control"} %>
    <%= f.input :skill, label: t(".skill"),
      input_html: {class: "form-control"} %>
    <%= f.input :content, label: t(".content"),
      input_html: {class: "form-control job-create-content"} %>
    <%= f.input :branch_id do %>
      <%= f.select :branch_id, @company.branches.map{ |r| [r.district, r.id] },
        {include_blank: t("pls_select")}, class: "form-control" %>
    <% end %>
    <%= f.input :category_id do %>
      <%= f.select :category_id, @company.categories.map { |r| [r.name, r.id] },
        {include_blank: t("pls_select")}, class: "form-control" %>
    <% end %>
    <div class=" centerize create-job-btn ">
      <%= f.button :submit, label: t("jobs.form.save_job"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
