<div id="job-<%= job.id %>">
  <div class="cp_our_job_item show ">
    <div class="row">
      <div class="col-xs-12 col-sm-10 cp_Job_summary_info">
        <div class="row">
          <div class="col-md-10">
            <h4>
              <%= link_to (job.name + t(".up_to") +
                job.max_salary.round.to_s + Settings.currency.dollar), job %>
            </h4>
          </div>
          <div class="col-md-2">
            <% if can? :update, job.company %>
              <ul class="job_control_button">
                <li>
                  <%= link_to edit_job_path(job), class: "btn btn-sm btn-warning", remote: true do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to job, method: :delete, data: {confirm: t("sure?")},
                    class: "btn btn-sm btn-danger", remote: true do %>
                    <i class="glyphicon glyphicon-trash"></i>
                  <% end %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
        <ul>
          <li><i class="fa fa-building col-info"></i><%= job.position %></li>
          <li><i class="fa fa-map-marker col-info"></i><%= job.branch.name %></li>
          <li><i class="fa fa-list-ul col-info"></i><%= job.category.name %></li>
          <li><i class="fa fa-calendar-times-o col-info"></i><%= t ".#{job.position_types}" %></li>
          <li><i class="fa fa-briefcase col-info"></i><%= job.level %></li>
          <li><i class="fa fa-calendar-o col-info"></i><%= l job.created_at, format: :long %></li>
        </ul>
        <p><%= job.description.first(Settings.jobs.description.limit_show) + t("gap") %></p>
      </div>
      <div class="col-xs-12 col-sm-2 cp_job_view_detail">
        <%= link_to job, class: "border-none-and-radius btn-primary text-color-white" do %>
          <%= t "view" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
