<% provide(:title, t("company")) %>
<% provide(:banner, t("banner_show")) %>

<div class="tab-pane active">
  <section id="home" class="cp_tab_content cp_herro_banner">
    <%= show_banner(yield(:banner)) %>
    <%= render "filter_form" %>
  </section>
</div>

<section class="cp_basic_info info_company hidden">
  <div class="row col-md-10 col-md-offset-1">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 cp_logo  mobile-hide">
      <div><%= image_tag(@company.logo.url) %></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 cp_basic_info_details">
      <h2 id="cp_company_name"><%= @company.name %></h2>
      <ul>
        <li>
          <span class="li-items-limit" title="<%= @company.address %>">
            <%= @company.address %>
          </span>
          <span class="line">|</span>
          <%= link_to t("framgia_recruit"), @company.url_company, class: "website-company"  %>
        </li>
        <li>
          <span class="li-items-limit" title="<%= @company.majors %>">
            <%= @company.majors %>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 cp_follow_survey text-right">
        <%= link_to t("follow"), "", class: "btn-animation follow-company" %>
    </div>
  </div>
</section>

<div class="cp_tab_content cp_our_jobs_section">
  <div class="panel-group col-md-10 col-md-offset-1">
    <div class="panel panel-default common-margin-top-15">
      <div id="jobsListing" class="panel-collapse cp_our_jobs_container collapse in jobs-listing" aria-expanded="true" style="">
        <div class="panel-body">
          <div class="cp_our_jobs_listing" id="ajax_cp_our_jobs_listing">
            <div class ="show_companies">
              <div class="row">
                <div class="col-md-12 col-md-offset-0 show_jobs">
                  <% if @jobs.any? %>
                    <div class="row">
                      <div class="col-xs-12 col-sm-10">
                        <h3 class="jobs-count">
                          <%= t ".jobs" %>
                          <span id="jobs-numbers"><%= @jobs.total_count %></span>
                        </h3>
                      </div>
                      <div class="col-xs-12 col-sm-2">
                        <%= render "jobs/post_job" %>
                      </div>
                    </div>
                    <div id="jobs">
                      <%= render @jobs %>
                    </div>
                  <% else %>
                    <div class="row">
                      <div class="col-xs-12 col-sm-10">
                        <h3><%= t ".jobs" %></h3>
                      </div>
                      <div class="col-xs-12 col-sm-2">
                        <%= render "jobs/post_job" %>
                      </div>
                    </div>
                    <div id="jobs">
                      <div class="no_jobs"><%= t".no_jobs" %></div>
                    </div>
                  <% end %>
                  <div class = "row text-center pag">
                    <%= paginate @jobs %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
