 <div id= "show-user">
  <h4><%= @user.name %></h4>
  <small>
    <i class="glyphicon glyphicon-map-marker"></i>
    <cite title=""><%= @user.address %></cite>
  </small>
  <p>
    <i class="glyphicon glyphicon-envelope"></i><%= @user.email %>
    <br />
    <i class="glyphicon glyphicon-gift"></i><%= @user.birthday %>
  </p>
  <div class="btn-group">
    <% if can? :update, @user %>
      <%= link_to edit_user_path(current_user), remote:true do %>
        <i class="fa fa-pencil-square-o fa-2x"></i>
      <% end %>
    <% end %>
  </div>
</div>
