 <div id= "show-user">
  <h4><%= @user.name %></h4>
  <p class = "profile_user">
    <i class="glyphicon glyphicon-map-marker"></i>
    <cite title=""><%= @user.address %></cite>
  </p>

  <p class = "profile_user">
    <i class="glyphicon glyphicon-envelope"></i>
    <cite title=""><%= @user.email %></cite>
  </p>

  <p class = "profile_user">
    <i class="glyphicon glyphicon-gift"></i>
    <cite title=""><%= @user.birthday %></cite>
  </p>

  <div class="btn-group">
    <% if can? :update, @user %>
      <%= link_to edit_user_path(current_user), remote:true do %>
        <i class="fa fa-pencil-square-o fa-2x"></i>
      <% end %>
    <% end %>
  </div>
</div>
