<div class="container">
  <div class="main_content">
    <div class="col-md-12">
      <div class="profile clearfix">
        <%= render @user %>
      </div>
    </div>
    <div class="col-md-12 user-bot">
      <div class="section-detail section-employment">
        <div class="box border-info">
          <fieldset>
            <legend class="box-md">
              <div class="set-default">
                <h4><i class="fa fa-info-circle"></i>&nbsp;<b><%= t "clubs._index.information" %></b></h4>
              </div>
            </legend>
            <div class="row">
              <div class="col-md-3 items-profile">
                <ul class="nav nav-pills nav-stacked  ">
                  <li class="active">
                    <a href="#tab_a" class="item-profile" data-toggle="pill">
                      <i class="fa fa-user"></i>
                      <%= t "clubs._index.profile" %>
                    </a>
                  </li>
                  <li><a href="#tab_b" class="item-profile" data-toggle="pill">
                    <i class="fa fa-cc-diners-club"></i><%= t "clubs._index.clubs" %></a>
                  </li>
                  <li><a href="#tab_c" class="item-profile" data-toggle="pill">
                    <i class="fa fa-fw fa-certificate"></i>
                    <%= t "clubs._index.certificates" %></a></li>
                  <li><a href="#tab_d" class="item-profile" data-toggle="pill">
                    <i class="fa fa-fw fa-bank"></i>
                    <%= t "clubs._index.experiences" %></a>
                  </li>
                  <li><a href="#tab_e" class="item-profile" data-toggle="pill">
                    <i class="fa fa-fw fa-user"></i>
                    <%= t "clubs._index.achievements" %></a>
                  </li>
                </ul>
              </div>
              <div class="col-md-9" id="contents">
                <div class="tab-content col-md-12">
                  <div class="tab-pane active" id="tab_a">
                    <%= render "users/index" %>
                  </div>
                  <div class="tab-pane" id="tab_b">
                    <%= render "clubs/index" %>
                  </div>
                  <div class="tab-pane" id="tab_c">
                    <%= render "certificates/index" %>
                  </div>
                  <div class="tab-pane" id="tab_d">
                    <%= render "experiences/index" %>
                  </div>
                  <div class="tab-pane" id="tab_e">
                    <%= render "achievements/index" %>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="#" id="to-top" class="to-top"><i class="fa fa-angle-up"></i></a>
