<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag "framgia.png" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "jobs/job", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body class="home page">
    <div id="page-container">
      <%= render "layouts/header" %>
      <section class="site-content">
        <%= yield %>
      </section>
      <div class="site-footer padding-10-0">
        <%= branches_footer "layouts/jobs/branches" %>
        <%= render "layouts/footer" %>
      </div>
    </div>
    <%= image_tag "loading.gif", id: "img-loading", class: "img-load" %>
  </body>
</html>
