<div class="container">
  <div class="main_content">
    <div class="col-md-12">
      <div class="profile clearfix">
        <%= render "user" %>
      </div>
    </div>
    <div class="col-md-12 user-bot">
      <div class="section-detail section-employment">
        <div class="box border-info">
          <fieldset>
            <legend class="box-md">
              <div class="set-default">
                <h4><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;<b><%= t "my_job" %></b></h4>
              </div>
            </legend>
            <div class="row">
              <div class="col-md-3 items-profile">
                <ul class="nav nav-pills nav-stacked  ">
                  <li class="active">
                    <a href="#tab_a" class="item-profile" data-toggle="pill">
                      <i class="fa fa-handshake-o" aria-hidden="true"></i>
                      <%= t "applied" %>
                    </a>
                  </li>
                  <li><a href="#tab_b" class="item-profile" data-toggle="pill">
                    <i class="fa fa-star-o" aria-hidden="true"></i><%= t "bookmarted" %></a>
                  </li>
                </ul>
              </div>
              <div class="col-md-9" id="contents">
                <div class="tab-content col-md-12">
                  <div class="tab-pane active" id="tab_a">
                    <% if @applies.blank? %>
                      <div class="placeholder-section box-md">
                        <p class="placeholder not_apply">
                          <i class="fa fa-heart" aria-hidden="true"></i>
                          <%= t "apply.havenot_apply" %>
                        </p>
                      </div>
                    <% else %>
                      <div>
                        <div>
                          <%= search_form_for @q, url: applies_path, remote: true, method: :get do |f| %>
                            <div>
                              <%= f.select :status_eq, Apply.statuses.map{|key, value| [t("#{key}"), value]},
                                {}, onchange: "javascript: this.form.commit.click();", class: "
                                col-sm-3-apply form-control" %>
                              <%= f.submit "save", class: "btn-submit-edit-applies" %>
                            </div>
                          <% end %>
                        </div>
                        <div id="applies" class="all-applies">
                          <%= render partial: "applies/apply", collection: @applies %>
                        </div>
                      </div>
                      <div id = "pag" class = "row text-center">
                        <%= paginate @applies %>
                      </div>
                    <% end %>
                  </div>
                  <div class="tab-pane" id="tab_b">
                    <% if @bookmark_likes.blank? %>
                      <div class="placeholder-section box-md">
                        <p class="placeholder not_apply">
                          <i class="fa fa-heart" aria-hidden="true"></i>
                          <%= t "apply.havenot_bookmart" %>
                        </p>
                      </div>
                    <% else %>
                      <div id ="bookmark">
                        <%= render partial: "bookmark_likes/bookmark_like", collection: @bookmark_likes %>
                      </div>
                      <div id = "pag_bookmark" class = "row text-center">
                        <%= paginate @bookmark_likes %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>

