<% provide(:title, t("login")) %>
<%= image_tag "login_full_bg.jpg", class: "full-bg animation-pulseSlow" %>
<div id="login-container" class="animation-fadeIn">
  <div class="login-title text-center">
    <h1>
      <i class="gi gi-flash"></i>
      <strong><%= t "app" %></strong><br>
      <small>
        <%= t "please" %>
        <strong><%= t "login" %></strong>
        <%= t "or" %><strong><%= t "register" %></strong>
      </small>
    </h1>
  </div>
  <div class="block push-bit">
    <%= form_for(resource, as: resource_name,
      :html => {class: "form-horizontal form-bordered form-control-borderless",id: "form-login"},url: session_path(resource_name)) do |f| %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            <i class="fa fa-window-close" aria-hidden="true"></i>
          </button>
          <hr class="message-inner-separator">
          <p><%= message %></p>
        </div>
      <% end %>
      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
            <%= f.email_field :email, autofocus: true, class: "form-control input-lg",
              placeholder: t("passwords.new.email"), id: "login-email" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
            <%= f.password_field :password,class: "form-control input-lg",
              placeholder: t("passwords.new.password"), id: "login-password"  %>
          </div>
        </div>
      </div>
      <div class="form-group form-actions">
        <% if devise_mapping.rememberable? -%>
          <%= f.label :remember_me, class: "checkbox inline" do %>
          <div class="col-xs-4">
            <label class="switch switch-primary" data-toggle="tooltip">
              <%= f.check_box :remember_me,id: "login-remember-me" %>
              <span></span>
            </label>
          </div>
          <% end %>
        <% end -%>
        <div class="col-xs-8 text-right">
          <%= f.submit t("registrations.new.login_to"), class: "btn btn-sm btn-primary" do  %>
            <i class="fa fa-angle-right"></i>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12 text-center">
          <%= link_to new_user_password_path  do %>
            <small><%= t "registrations.new.forgot" %></small>-
          <% end %>
          <a href="javascript:void(0)" id="link-register-login">
            <small><%= t "passwords.new.create_new" %></small></a>
        </div>
      </div>
    <% end %>
    <%= form_for(resource, as: resource_name ,:html => {class: "form-horizontal form-bordered form-control-borderless display-none",id: "form-register"},url: registration_path(resource_name)) do |f| %>
      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-address-book" aria-hidden="true"></i></span>
            <%= f.text_field :name, autofocus: true, class: "form-control input-lg",
              placeholder: t("passwords.new.name") %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
            <%= f.email_field :email, autofocus: true, class: "form-control input-lg",
              placeholder: t("passwords.new.email") %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
            <%= f.text_field :phone, autofocus: true, class: "form-control input-lg",
              placeholder: t("passwords.new.phone") %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
            <%= f.text_field :address, autofocus: true, class: "form-control input-lg",
              placeholder: t("passwords.new.address") %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-birthday-cake" aria-hidden="true"></i></span>
            <%= f.text_field :birthday, "data-provide" => "datepicker", class: "form-control input-lg" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
            <%= f.password_field :password,class: "form-control input-lg",
              placeholder: t("passwords.new.password") %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
            <%= f.password_field :password_confirmation,class: "form-control input-lg",
              placeholder:t("passwords.new.password_confirm") %>
          </div>
        </div>
      </div>
      <div class="form-group form-actions">
        <div class="col-xs-6">
          <a href="#modal-terms" data-toggle="modal" class="register-terms"><%= t "terms" %></a>
          <label class="switch switch-primary" data-toggle="tooltip" title="Agree to the terms">
            <input type="checkbox" id="register-terms" name="register-terms">
            <span></span>
          </label>
        </div>
        <div class="col-xs-6 text-right">
          <%= f.submit t("registrations.new.re_account"), class: "btn btn-sm btn-success" do  %>
            <i class="fa fa-plus">
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12 text-center">
          <small><%= t "passwords.new.account" %></small>
          <a href="javascript:void(0)" id="link-register">
          <small><%= t "login" %></small></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
