<%= javascript_include_tag "format_datepicker", "data-turbolinks-track": "reload" %>
<%= javascript_include_tag "employer/plugins", "data-turbolinks-track": "reload" %>
<%= javascript_include_tag "employer/app", "data-turbolinks-track": "reload" %>
<%= javascript_include_tag "employers/search", "data-turbolinks-track": "reload" %>
<%= stylesheet_link_tag "employer/checkbox" %>
<%= simple_form_for [:employers, @appointment], remote: true do |f| %>
  <%= f.hidden_field :apply_id, value: apply.id  %>
  <%= f.hidden_field :company_id %>
  <div class="modal-content parents">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" id ="reset-appointment">&times;</button>
      <h4 class="modal-title"><%= t "jobs.apply.interviewe" %></h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><%= t "jobs.apply.address" %></span>
          <%= f.text_field :address, class: "form-control" %>
        </div>
        <span class="error-message">
          <%= f.full_error :address %>
        </span>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><%= t "jobs.apply.start" %></span>
              <%= f.text_field :start_time, data: {provide: "datepicker"}, class: "datepick form-control edit-control" %>
            </div>
            <span class="error-message">
              <%= f.full_error :start_time %>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><%= t "jobs.apply.end" %></span>
              <%= f.text_field :end_time, data: {provide: "datepicker"}, class: "datepick form-control edit-control" %>
            </div>
            <span class="error-message">
              <%= f.full_error :start_time %>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><%= t "jobs.apply.interview" %></span>
              <%= select_tag "states[]", options_for_select(
                members.map {|s| [s.user.name, s.user.id]}
                ), multiple: true, class: "select-chosen", id: "example-chosen-multiple",
                data: {id: apply.id}%>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <i class="fa fa-get-pocket text-primary" aria-hidden="true"></i><%= t "jobs.apply.select" %>
          <label class="switch switch-primary">
            <input type="checkbox" class="open" name="checkcv" value="1">
            <span></span>
          </label>
        </div>
        <div class="col-md-4 tem-col" id = "show-view">
        </div>
      </div>
      <div class = " objects view_<%= apply.id %>">
        <section class="page-job-detail__detail">
          <ul class="nav nav-tabs three-tabs" role="tablist">
            <li role="presentation" class="active animated fadeIn">
              <a href="#job-info_<%= apply.id %>" data-toggle="tab">
              <span class="hidden-sm hidden-xs col-info"><%= t "jobs.apply.member" %></span>
              </a></li>
            <li class="animated fadeIn" role="presentation ">
              <a href="#company-info_<%= apply.id %>" class="track-event"
                data-evt-type="view-tab-cominfo" role="tab" data-toggle="tab">
              <span class="hidden-sm hidden-xs col-info"><%= t "jobs.apply.user" %></span>
              </a>
            </li>
          </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane tab-pane-job-info active box box-md animated fadeIn"
            id="job-info_<%= apply.id %>">
            <div class="row">
              <div class="col-md-5">
                <%= select_tag "template", options_for_select(template_members.collect{ |u| [u.name, u.id]}),
                  include_blank: t("please_selecta"), class: "form-control template"
                %>
              </div>
            </div>
            <div id="content-template_<%= apply.id %>" class = "setting-tem">
            </div>
          </div>
          <div role="tabpanel" class="tab-pane tab-pane-company-info box box-md animated fadeIn"
            id="company-info_<%= apply.id %>">
            <div class="row">
              <div class="col-md-5">
                <%= select_tag "template_user",
                  options_for_select(template_users.collect{ |u| [u.name, u.id]}),
                  include_blank: t("please_selecta"), class: "form-control template_user"
                %>
              </div>
            </div>
            <div id="content-template-user_<%= apply.id %>" class="setting-tem">
            </div>
          </div>
        </div>
      </section>
    </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-sm btn-warning pull-right load-page">
        <i class="fa fa-plus" aria-hidden="true"></i><%= t "apply.approve" %>
      </button>
    </div>
  </div>
<% end %>
