<tr>
  <td class="text-center"><strong><%= apply.id %></strong></a></td>
  <td class="text-center">
  <% if apply.user.present? %>
    <strong>
      <%= link_to apply.user.name, apply.cv.url %>
    </strong>
  </td>
  <td class="text-center"><strong><%= apply.user.email %></strong></td>
  <td class="text-center"><strong><%= apply.user.phone %></strong></td>
  <td class="text-center visible-lg"><%= apply.created_at %></td>
  <td class="text-center hidden-xs">
  <% else %>
    <strong>
      <%= link_to apply.information[:name], apply.cv.url %>
    </strong>
  </td>
  <td class="text-center"><strong><%= apply.information[:email] %></strong></td>
  <td class="text-center"><strong><%= apply.information[:phone] %></strong></td>
  <td class="text-center visible-lg"><%= apply.created_at %></td>
  <td class="text-center hidden-xs">
  <% end %>
  <%= form_for [:employers, apply], remote: true do |f| %>
    <div>
      <%= f.select :status, Apply.statuses.map{|key, value| [t("#{key}"), key]}, {}, onchange: "javascript: this.form.commit.click();" %>
      <%= f.submit "save", class: "btn-submit-edit-applies" %>
    </div>
  <% end %>
  </td>
</tr>
