<tr class="employer-job-<%= job.id %>">
  <td class="text-center"><strong><%= job.id %></strong></a></td>
  <td class="visible-lg"><%= link_to job.name, employers_job_path(job) %></td>
  <td class="text-center"><strong>$<%= job.min_salary %> - $<%= job.max_salary %></strong></td>
  <td class="text-center"><strong><%= job.position %></strong></td>
  <% if job.opend? %>
    <td class="text-center color_date_job_expires">
      <strong>
      <% if job.end_time.present? %>
        <%= t "apply.expires_on" %><br><%= l job.end_time.to_date, format: :long %>
      <% end %>
      </strong>
    </td>
  <% else %>
    <td class="text-center color_date_job_expired">
      <strong>
        <%= t "apply.expired" %><br><%= l Date.current, format: :long %>
      </strong>
    </td>
  <% end %>
  <td class="text-center">
    <div class="btn-group btn-group-xs">
      <%= link_to edit_employers_job_path(job), class: "btn btn-warning btn-xs",
        remote: true, data: {toggle: "tooltip"} do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
      <%= link_to employers_job_path(job), method: :delete, remote: true,
        class: "btn btn-danger btn-xs", data: {confirm: (t "employers.apply.sure")} do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
    </div>
  </td>
</tr>
