<div class="block full">
  <div class="block-title">
    <h2><strong><%= t "sidebar_jobs" %></strong></h2>
  </div>
  <table class="table table-bordered table-striped table-vcenter">
    <thead>
      <tr>
        <th class="text-center"><%= t "id" %></th>
        <th class="text-center"><%= t "name" %></th>
        <th class="text-center"><%= t "salary" %></th>
        <th class="text-center"><%= t "position" %></th>
        <th class="text-center"><%= t "staus" %></th>
        <th class="text-center"><%= t "edit_job" %></th>
        <th class="text-center"><%= t ".delete" %></th>
      </tr>
    </thead>
    <tbody>
      <div>
        <%= render partial: "job", collection: @jobs, as: :job  %>
      </div>
    </tbody>
  </table>
  <%= paginate @jobs %>
</div>
