<%= javascript_include_tag "format_datepicker", "data-turbolinks-track": "reload" %>
<%= simple_form_for @experience, html: {class: "new-section"}, remote: true do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :name, class: "profile_label" do %>
          <strong class="text-red">*</strong>
          <%= t "experiences._form.name" %>
        <% end %>
        <%= f.text_field :name, autofocus: true, class: "form-control edit-control" %>
      </div>
      <span class="error-message">
        <%= f.error :name %>
      </span>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :company, class: "profile_label" do %>
          <strong class="text-red">*</strong>
          <%= t "experiences._form.company" %>
        <% end %>
        <%= f.text_field :company, class: "form-control edit-control" %>
      </div>
      <span class="error-message">
        <%= f.error :company %>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :start_time, class: "profile_label" do %>
          <strong class="text-red">*</strong>
          <%= t "experiences._form.from" %>
        <% end %>
        <% if @experience.start_time.present? %>
          <%= f.text_field :start_time, data: {provide: "datepicker"},
            class: "datepick form-control", value: @experience.start_time.strftime(t "date_format") %>
        <% else %>
          <%= f.text_field :start_time, data: {provide: "datepicker"},
            class: "datepick form-control" %>
        <% end %>
      </div>
      <span class="error-message">
        <%= f.error :start_time %>
      </span>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :end_time, class: "profile_label" do %>
          <strong class="text-red">*</strong>
          <%= t "experiences._form.to" %>
        <% end %>
        <% if @experience.end_time.present? %>
          <%= f.text_field :end_time, data: {provide: "datepicker"},
            class: "datepick form-control", value: @experience.end_time.strftime(t "date_format") %>
        <% else %>
          <%= f.text_field :end_time, data: {provide: "datepicker"},
            class: "datepick form-control" %>
        <% end %>
      </div>
      <span class="error-message">
        <%= f.error :end_time %>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :project_detail, class: "profile_label" do %>
          <strong class="text-red">*</strong>
          <%= t "experiences._form.project_detail" %>
        <% end %>
        <%= f.text_area :project_detail, class: "form-control" %>
      </div>
      <span class="error-message">
        <%= f.error :project_detail %>
      </span>
    </div>
  </div>
  <div class="form-group push-top-md edit-field">
    <div class="col-sm-6">(<strong class="text-red">*</strong>)<%= t "achievements.required" %></div>
    <div class="row">
      <div class="col-sm-6 text-right">
        <button id="<%= define_cancel_experience_id @experience %>" type="button"
          class="btn-cancel btn btn-default" value="<%= @experience.id %>">
          <%= t "experiences._form.cancel" %>
        </button>
        <%= f.submit t("experiences._form.save"), class: "btn-save btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
