<div class="section-detail section-employment">
  <div class="box border-info">
    <fieldset>
      <legend class="box-md">
        <i class="fa fa-fw fa-bank"></i><%= t "experiences._index.experience_title" %>
      </legend>
      <div class="placeholder-experience box-md <%= define_style_placeholder @experiences %>">
        <% if current_user.is_user? @user %>
          <p class="placeholder"><%= t "experiences._index.describle" %></p>
        <% else %>
          <p class="placeholder"><%= t "placeholder.blank" %></p>
        <% end %>
      </div>
      <div id="form-experience">
        <%= render partial: "experiences/experience", collection: @experiences, as: :experience %>
      </div>
      <% if  current_user.is_user? @user %>
        <%= link_to t("experiences._index.add"), new_experience_path, id: "btn-add-experience",
          class: "btn btn-default btn-block no-border add-one-more-section", remote: true %>
      <% end %>
    </fieldset>
  </div>
</div>
