<footer id="footer">
  <div class="wrapper">
    <h5><%= t "homepage.footer.company" %></h5>
    <div class="footer-top">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <h5><%= t "homepage.footer.hn-office" %></h5>
              <i class="material-icons"><%= t "homepage.footer.room" %></i>
              <p><%= t "homepage.footer.hn-address" %></p>
              <i class="material-icons"><%= t "homepage.footer.phone" %></i>
              <p><%= t "homepage.footer.hn-phonenumber" %></p>
            </div>
            <div class="col-md-6 col-sm-6">
                <h5><%= t "homepage.footer.laboratory-office" %> </h5>
                <i class="material-icons"><%= t "homepage.footer.room" %></i>
                <p><%= t "homepage.footer.laboratory-address" %></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <h5><%= t "homepage.footer.hcm-office" %></h5>
              <i class="material-icons"><%= t "homepage.footer.room" %></i>
              <p><%= t "homepage.footer.hcm-address" %></p>
            </div>
            <div class="col-md-6 col-sm-6">
              <h5><%= t "homepage.footer.dn-office" %></h5>
              <i class="material-icons"><%= t "homepage.footer.room" %></i>
              <p><%= t "homepage.footer.dn-address" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-middle">
      <div class="wrapper">
        <h5><%= t "homepage.footer.find_more" %></h5>
        <ul class="inactive">
          <li><%= t "homepage.footer.sin-office" %></li>
          <li><%= t "homepage.footer.japan-office" %></li>
          <li><%= t "homepage.footer.phi-office" %></li>
          <li><%= t "homepage.footer.banl-office" %></li>
          <li><a href="#" class="world-map"><i class="material-icons">
            <%= t "homepage.footer.room" %> </i><%= t "homepage.footer.check_map" %></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom clearfix">
      <p class="copy"><%= t "homepage.footer.copyright" %></p>
      <div class="social">
        <ul class="clearfix">
          <li><a href="https://www.facebook.com/FramgiaVietnam/" class="fa fa-facebook"></a></li>
          <li>
            <a href="https://www.linkedin.com/company/3341218?trk=tyah&trkInfo=clickedVertical%3Acompany%
              2CclickedEntityId%3A3341218%2Cidx%3A2-1-2%2CtarId%3A1465497556522%2Ctas%3Aframgia%20vietnam"
              class="fa fa-linkedin">
            </a>
          </li>
        </ul>
        <p><%= t "homepage.footer.follow" %></p>
      </div>
    </div>
  </div>
</footer>
