<header id="header" class="">
  <div class="wrapper">
    <div class="logo">
      <a href="#" class="custom-logo-link" rel="home" itemprop="url">
        <img width="134" height="40"
          src="http://recruit.framgia.vn/wp-content/uploads/2016/06/framgia-logo-black-1.png"
          class="custom-logo" alt="framgia-logo-black" itemprop="logo">
      </a>
    </div>
    <div class="header-right">
      <i class="material-icons menu-icon menu-open">
        <%= t "homepage.both.menu" %></i>
      <i class="material-icons menu-icon menu-close">
        <%= t "homepage.both.close" %></i>
      <section id="icl_lang_sel_widget-2" class="widget widget_icl_lang_sel_widget">
        <div id="lang_sel">
          <ul><li>
            <a href="#" class="lang_sel_sel icl-vi"><%= t "homepage.vn.language" %></a>
            <ul> <li class="icl-en">
              <a href="http://recruit.framgia.vn?lang=en"><%= t "homepage.en.language" %></a></li>
            </ul>
          </li></ul>
        </div>
      </section>
      <div class="menu">
        <ul id="menu-primary-menu-vn" class="">
          <li id="menu-item-114" class="inactive menu-item menu-item-type-custom menu-item-object-custom menu-item-114">
            <a href="#"><%= t "homepage.header.about_us" %></a>
          </li>
          <li id="menu-item-118" class="inactive menu-item menu-item-type-custom menu-item-object-custom menu-item-118">
            <a href="#"><%= t "homepage.header.service" %></a>
          </li>
          <li id="menu-item-129" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-129">

            <%= link_to jobs_path do %>
              <%= t "homepage.header.challange_job" %>
            <% end %>
          </li>
          <li id="menu-item-117" class="inactive menu-item menu-item-type-custom menu-item-object-custom menu-item-117">
            <a href="#"><%= t "homepage.header.cultural" %></a>
          </li>
          <li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116">
            <a href="http://recruit.framgia.vn/lien-he/"><%= t "homepage.header.contact" %></a>
          </li>
        </ul>
        <div id="lang_sel">
          <ul><li>
            <a href="#" class="lang_sel_sel icl-vi"><%= t "homepage.vn.language" %></a>
            <ul><li class="icl-en">
              <a href="http://recruit.framgia.vn?lang=en"><%= t "homepage.en.language" %></a>
            </li></ul>
          </li></ul>
        </div>
      </div>
    </div>
  </div>
</header>
