<div id="info_certificate_<%= certificate.id %>" class="sortable content-section">
  <% if can? :modify, certificate %>
    <span class="form-btn-edit">
      <%= link_to certificate, method: :delete, data: {confirm: I18n.t("certificate.confirm")},
        class: "btn btn-sm btn-default", remote: true do %>
        <i class="glyphicon glyphicon-trash"></i>
      <% end %>
      <%= link_to edit_certificate_path(certificate), class: "btn btn-sm btn-default", remote: true do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
    </span>
  <% end %>
  <div>
    <div class="view-field">
      <h4 class="view-control"><%= certificate.name %></h4>
    </div>
  </div>
  <div>
    <div class="view-field">
      <strong class="view-control"><%= t "certificate.major" %></strong>
        <%= certificate.majors %>
    </div>
  </div>
  <div>
    <div class="view-field">
      <strong class="view-control"><%= t "certificate.organization" %></strong>
        <%= certificate.organization %>
    </div>
  </div>
  <div>
    <div class="view-field">
      <strong class="view-control"><%= t "certificate.classification" %></strong>
        <%= certificate.classification %>
    </div>
  </div>
  <div>
    <div class="view-field">
      <strong class="view-control"><%= t "certificate.received" %></strong>
        <%= certificate.received_time %>
    </div>
  </div>
</div>
