<div id="info_certificate_<%= certificate.id %>" class="sortable content-section">
  <div class="profile_top_view">
    <div class="row">
      <div class="col-md-5">
        <h4 class="view-control"><%= certificate.name %></h4>
      </div>
      <div class="col-md-7">
        <% if can? :modify, certificate %>
          <span class="form-btn-edit">
            <%= link_to certificate, method: :delete, data: {confirm: I18n.t("certificate.confirm")},
              class: "btn btn-sm btn-danger", remote: true do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
            <%= link_to edit_certificate_path(certificate), class: "btn btn-sm btn-warning", remote: true do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
    <div class="view-field date_profile">
      <span class="view-control" data-control="from-date">
        <%= I18n.l certificate.received_time, format: :long %>
      </span>
    </div>
  </div>

  <table class="table table_profile">
    <tr>
      <td class="view-field">
        <strong class="view-control"><%= t "profile.certificate.majors" %></strong>
      </td>
      <td class="profile_content"><%= certificate.majors %></td>
    </tr>
    <tr>
      <td class="view-field">
        <strong class="view-control"><%= t "profile.certificate.organization" %></strong>
      </td>
      <td class="profile_content"><%= certificate.organization %></td>
    </tr>
    <tr>
      <td class="view-field">
        <strong class="view-control"><%= t "profile.certificate.classification" %></strong>
      </td>
      <td class="profile_content"><%= certificate.classification %></td>
    </tr>
  </table>
</div>



