<%= javascript_include_tag "format_datepicker", "data-turbolinks-track": "reload" %>
<div id= "new-certificate">
  <%= form_for @certificate, html: {class: "new-section"}, remote: true do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label><strong class="text-red">* </strong><%= t "certificate.name" %></label>
          <%= f.text_field :name, autofocus: true, class: "form-control edit-control",
            placeholder: (t"certificate.plcname") %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label><strong class="text-red">*</strong><%= t "certificate.major" %></label>
          <%= f.text_field :majors, autofocus: true, class: "form-control edit-control",
            placeholder: (t"certificate.plcmajor") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label><strong class="text-red">* </strong><%= t "certificate.organization" %></label>
          <%= f.text_field :organization, autofocus: true, class: "form-control edit-control",
            placeholder: (t"certificate.plcorganization") %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label><strong class="text-red">*</strong><%= t "certificate.classification" %></label>
          <%= f.text_field :classification, autofocus: true, class: "form-control edit-control",
            placeholder: (t"certificate.plcclass") %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label><strong class="text-red">*</strong><%= t "certificate.received" %></label>
          <%= f.text_field :received_time, "data-provide": "datepicker", class: "datepick form-control edit-control" %>
        </div>
      </div>
    </div>
    <div class="form-group push-top-md edit-field">
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 text-right">
          <button id="<%= define_cancel_certificate_id @certificate %>" type="button"
            class="btn-cancel btn btn-default" value="<%= @certificate.id %>" >
              <%= t "certificate.cancel" %>
          </button>
          <%= f.submit (t"certificate.save"), class: "btn-save btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
