<div class="section-detail section-employment">
  <div class="box border-info">
    <fieldset>
      <legend class="box-md">
        <i class="fa fa-fw fa-trophy"></i><%= t "clubs._index.achievements" %>
      </legend>
      <div class="placeholder-achievement box-md <%= define_style_placeholder @achievements %>">
        <p class="placeholder">
          <%= current_user.is_user?(@user) ? t("achievements.describle") : t("placeholder.blank") %>
        </p>
      </div>
      <div id="form-achievements">
        <%= render partial: "achievements/achievement", collection: @achievements, as: :achievement %>
      </div>
      <% if current_user.is_user? @user %>
        <%= link_to t("clubs._index.add"), new_achievement_path(user_id: @user.id), id: "btn-add-achievements",
          class: "btn btn-default btn-block no-border add-one-more-section",
          remote: true %>
      <% end %>
      <div id = "area_form_achievement">
      </div>
    </fieldset>
  </div>
</div>
