<header id="header" class="header-job">
  <div class="wrapper">
    <div class="logo">
      <a href="#" class="custom-logo-link" rel="home" itemprop="url">
        <%= image_tag "fallback/framgia-logo-black-1.png", class: "custom-logo" %>
      </a>
    </div>
    <div class="header-right">
      <i class="material-icons menu-icon menu-open">
        <%= t "homepage.both.menu" %></i>
      <i class="material-icons menu-icon menu-close">
        <%= t "homepage.both.close" %></i>
      <section id="icl_lang_sel_widget-2" class="widget_icl_lang_sel_widget">
        <div id="lang_sel">
          <ul>
            <li>
              <a href="#" class="lang_sel_sel icl-vi"><%= t "homepage.vn.language" %></a>
              <ul>
                <li class="icl-en">
                  <a href="#"><%= t "homepage.en.language" %></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </section>
      <% if user_signed_in? %>
        <section class="widget_icl_lang_sel_widget user-ic">
          <a href="javascript:void(0)" class="site-menu-toggle visible-xs visible-sm">
          </a>
          <ul class="site-nav">
            <li class = "dropdown">
              <%= link_to "javascript:void(0)", class: "setting_user" do %>
                <%= image_tag current_user.picture.url, class: "avatar_user" %>
                <i class="fa fa-angle-down"></i>
              <% end %>
              <ul>
                <li>
                  <%= link_to bookmark_likes_url(subdomain: false) do %>
                    <%= t "my_job" %>
                    <i class="fa fa-user fa-fw pull-right"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to user_url(current_user, subdomain: false) do %>
                    <%= t "users.new.profile" %>
                    <i class="fa fa-user fa-fw pull-right"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_user_registration_url(current_user, subdomain: false) do %>
                    <%= t "users.new.change_pass" %>
                    <i class="fa fa-pencil-square-o pull-right"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_url, method: :delete do %>
                    <i class="fa fa-ban fa-fw pull-right"></i>
                    <%= t "layouts._header.logout" %>
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      <% end %>
      <div class="menu">
        <ul id="menu-primary-menu-vn" class="">
          <li id="menu-item-118" class="inactive menu-item menu-item-type-custom menu-item-object-custom menu-item-118">
            <a href="#"><%= t "homepage.header.service" %></a>
          </li>
          <li id="menu-item-129" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-129">
            <%= link_to jobs_path do %>
              <%= t "homepage.header.challange_job" %>
            <% end %>
          </li>
          <li id="menu-item-117" class="inactive menu-item menu-item-type-custom menu-item-object-custom menu-item-117">
            <a href="#"><%= t "homepage.header.cultural" %></a>
          </li>
          <li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116">
            <a href="#"><%= t "homepage.header.contact" %></a>
          </li>
          <% if !user_signed_in? %>
            <li id="menu-item-114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114">
              <%= link_to t("users.new.login"), new_user_session_path %>
            </li>
          <% end %>
        </ul>
        <div id="lang_sel">
          <ul>
            <li>
              <a href="#" class="lang_sel_sel icl-vi"><%= t "homepage.vn.language" %></a>
              <ul>
                <li class="icl-en">
                  <a href="#"><%= t "homepage.en.language" %></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
