<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag "framgia.png" %>
    <%= csrf_meta_tags %>

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div id="page-container">
      <%= render "layouts/user_header" %>
      <div class="row">
      <section class="site-content">
        <%= yield %>
      </section>
      <footer class="site-footer padding-10-0 footer-custom">
        <%= render "layouts/footer" %>
      </footer>
    </div>
  </body>
</html>
