<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag "framgia.png" %>
    <%= csrf_meta_tags %>

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div id="page-container">
      <%= render "layouts/user_header" %>
      <%= render "layouts/backward-header" %>
      <div class="row">
        <div class="col-md-3" id="message-flash">
          <% flash.each do |message_type, message| %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
              <i class="fa fa-window-close" aria-hidden="true"></i>
            </button>
            <hr class="message-inner-separator">
            <p><%= message %></p>
          </div>
          <% end %>
        </div>
      </div>
      <section class="site-content">
        <%= yield %>
      </section>
      <footer class="site-footer padding-10-0">
        <%= render "layouts/footer" %>
      </footer>
    </div>
  </body>
</html>
