<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag "framgia.png" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <div id="page-container">
      <%= render "layouts/header" %>
      <section class="site-section site-section-light
        site-section-top themed-background-dark job-site-section-top">
        <div class="container">
        </div>
      </section>
      <section class="site-content">
        <%= yield %>
      </section>
      <footer class="site-footer site-section">
        <%= render "layouts/footer" %>
      </footer>
    </div>
    <%= image_tag "loading.gif", id: "img-loading", class: "img-load" %>
  </body>
</html>
